@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
	@font-face {
		font-family: #{$font-family};
		src: url("#{$font-path}.ttf") format("truetype");
		font-weight: $font-weight;
		font-style: $font-style;
	}
}

@mixin font-styles(
	$font-family,
	$font-weight,
	$font-size-mobile,
	$font-size-desktop,
	$line-height-mobile,
	$line-height-desktop,
	$color
) {
	font-family: #{$font-family};
	font-weight: $font-weight;
	font-size: $font-size-mobile;
	line-height: $line-height-mobile;
	color: $color;

	@media (min-width: 1024px) {
		font-size: $font-size-desktop;
		line-height: $line-height-desktop;
	}
}
