@import "./variables";
@import "./mixins";
@import "./header";
@import "./modal";

@include font-face("OpenSans", "../fonts/OpenSans");
@include font-face("Ubuntu", "../fonts/Ubuntu");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

.is-blurred {
	filter: blur(5px);
}

.main-content {
	max-width: 1920px;
	margin: 0 auto;

	.hero-section {
		margin: 0 26px;

		&__image-wrapper {
			display: flex;
			flex-direction: column;
			margin-bottom: 25px;

			.hero-section__image {
				max-width: 100%;
				margin: -63% 28px 0;
				box-shadow: -2px 2px 5px 2px $boxShadow;

				&:first-child {
					display: none;
				}
			}
		}

		&__color {
			width: 100%;
			padding-bottom: 68%;
			background-color: $orange;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 59px;
		}

		&__heading {
			@include font-styles("Ubuntu", 600, 25px, 40px, 35px, 56px, $black);
			margin-bottom: 20px;
		}

		&__subheading {
			@include font-styles("Ubuntu", 400, 20px, 30px, 28px, 42px, $black);
			margin-bottom: 25px;
		}

		&__button {
			@include font-styles("Ubuntu", 400, 14px, 14px, initial, initial, $black);
			width: 266px;
			padding: 10px 22px;
			border: 2px solid $orange;
			border-radius: 20px;
			background-color: $white;
			cursor: pointer;
			transition: 0.2s ease-in-out;

			&:hover {
				background-color: $orange;
				box-shadow: 0px 4px 4px 0px $boxShadow;
			}
		}
	}

	.info-section {
		margin-bottom: 45px;
		padding: 30px 26px;
		background-color: $light-gray;

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 32px;
		}

		&__heading {
			@include font-styles("Ubuntu", 400, 20px, 30px, 28px, 42px, $black);
			margin-bottom: 25px;
		}

		&__body {
			@include font-styles("OpenSans", 400, 18px, 18px, 25px, 25px, $black);
			margin-bottom: 20px;
		}

		&__button {
			@include font-styles("Ubuntu", 400, 14px, 14px, initial, initial, $black);
			width: 170px;
			padding: 10px 22px;
			border: 2px solid $orange;
			border-radius: 20px;
			background-color: $white;
			cursor: pointer;
			transition: 0.2s ease-in-out;

			&:hover {
				background-color: $orange;
				box-shadow: 0px 4px 4px 0px $boxShadow;
			}
		}

		&__image-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 15px;
			grid-template-areas:
				"image1 image3"
				"image2 image3";
		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;

			&:nth-child(1) {
				grid-area: image1;
			}

			&:nth-child(2) {
				grid-area: image2;
			}

			&:nth-child(3) {
				grid-area: image3;
			}

			&:nth-child(4) {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.main-content {
		.hero-section {
			display: flex;
			margin: 76px 93px 90px;

			> * {
				max-width: 50%;
			}

			&__image-wrapper {
				display: flex;
				flex-direction: column;
				position: relative;
				width: 100%;
				margin-bottom: unset;
				padding-bottom: 40%;

				.hero-section__image {
					width: 63%;
					margin: unset;

					&:first-child {
						display: unset;
						position: absolute;
						top: 0;
						left: 0;
					}

					&:last-child {
						position: absolute;
						bottom: 0;
						right: 0;
					}
				}
			}

			&__color {
				width: 57%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding-bottom: 57%;
				z-index: -1;
			}

			&__content {
				align-items: flex-start;
				margin-left: 2%;
				margin-bottom: unset;
			}

			&__heading {
				margin-bottom: 35px;
			}

			&__subheading {
				margin: 0 15% 35px 0;
			}
		}

		.info-section {
			display: flex;
			padding: 40px 93px;

			> * {
				max-width: 50%;
			}

			&__content {
				align-items: flex-start;
				margin-right: 10%;
				margin-bottom: unset;
			}

			&__heading,
			&__body {
				margin-bottom: 30px;
			}

			&__image-grid {
				grid-template-columns: 1fr 1fr 1fr;
				gap: 20px;
				grid-template-areas:
					"image4 image1 image3"
					"image4 image2 image3";
			}

			&__image {
				&:nth-child(4) {
					display: block;
					grid-area: image4;
				}
			}
		}
	}
}
